/*
	The CSS in this style tag is based off of Bear Blog's default CSS.
	https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
	License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
	
	NOTE: GET RID OF OR CHANGE UP THE  
*/

/* fonts in css allow for more control and stuff. slight delay though */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind utilities;
@tailwind base;
@tailwind components;

/* should contain  */
@layer utilities {
	.round {
		clip-path: circle();
	}

	/* for cutting off content may creat */
	.advanced-truncation-3 {
		display: -webkit-box;
		-webkit-line-clamp: 3; 
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.title-text {
	display: -webkit-box;
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
}
.line {
	height: 1rem;
	background-color: black;
	border-radius: 50%/100px 100px 0 0 ;
}
.upward_lines {
	display: flex;
	flex-direction: column;
	background-color: white;
	gap: 1rem;
}

/* property for height of element */
@property --h {
	syntax: '<length-percentage>';
	initial-value: 0px;
	inherits: true
}

/* property for line height */
@property --l {
	syntax: '<length-percentage>';
	initial-value: 0px;
	inherits: true
}

/* .description_container:nth-child(1) { --h: 2.25rem }
.description_container:nth-child(2) { --h: 5.75rem }
.description_container:nth-child(3) { --h: 4.5rem } 
.description_container:nth-child(4) { --h: 3.75rem } */


/* .description-container {
	--h: 100%;
	--l: 1lh;
	height: --h;
}

.description-text {
	display: -webkit-box;
	-webkit-line-clamp: round(down, tan(atan2(var(100%), var(--l))), 1); 
	-webkit-box-orient: vertical;
	overflow: hidden;
} */