/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
	
	NOTE: GET RID OF OR CHANGE UP THE 
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind utilities;
@tailwind base;
@tailwind components;

/* should contain  */
@layer utilities {
	.round {
		clip-path: circle();
	}

	/* for cutting off content */
	.advanced-truncation-4 {
		display: -webkit-box;
		-webkit-line-clamp: 4; 
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.advanced-truncation-3 {
		display: -webkit-box;
		-webkit-line-clamp: 3; 
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.advanced-truncation-2 {
		display: -webkit-box;
		-webkit-line-clamp: 2; 
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.advanced-truncation-1 {
		display: -webkit-box;
		-webkit-line-clamp: 1; 
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
