---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html class="bg-PWBlack">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=fallback " rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=fallback " rel="stylesheet">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <!-- body requires flex and flex-col to ensure that margins do not collapse -->
    <body class="flex flex-col">
		<Header isLandingPage={false} BGColor="PWBlack" color="PWWhite"></Header>
		<main class="mt-32 w-100vw flex flex-col items-center" >
			<div class="flex w-full max-w-[1000px] sm:flex-row flex-col-reverse justify-center sm:gap-10 px-16 py-5">
				<div class="flex-col ">
					<h1 class="text-PWWhite text-8xl font-notoSerifDisplay font-black"> Karan Swansi</h1>
					<h3 class="text-PWWhite text-3xl font-notoSerifDisplay font-semibold">Full Stack Web Developer</h3>
					<h3 class="text-PWWhite text-3xl font-notoSerifDisplay font-semibold">AI enthusiast</h3>
				</div>
				<img src="src/assets/lisa-harvey-pfp.png" class="w-44 h-44 round" alt="PFP"  >
			</div>
			<!-- short personal description -->
			<p class="text-PWWhite w-full max-w-[1000px] px-16 pt-5 pb-10 font-notoSerif font-medium text-lg">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
				Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
				massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
				nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
				auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
			</p>
			
			<!-- Experience -->
			<!-- NOTE - first div is basically the background. this is for setting max-width for content -->
			<div class="bg-PWRed-600 w-full flex justify-center">
				<div class="max-w-[1000px] flex flex-col gap-20 justify-center w-full p-16">
					<h2 class="text-PWBlack font-notoSerifDisplay text-7xl font-semibold">Experience</h2>
					<ol class="flex flex-col gap-5">
						<!-- very wacky, check the checked answer. Namely native child selectors: 
						https://stackoverflow.com/questions/67119992/how-to-access-all-the-direct-children-of-a-div-in-tailwindcss -->

						<!-- hover:text-PWWhite hover:bg-PWRed-500 -->
						<li class="flex flex-col gap-2">

							<h3 class="font-notoSerif font-medium text-3xl break-all">Title</h3>
							<h4 class="font-notoSerif font-medium text-xl break-all">Company</h4>
							<div class="font-notoSerif font-medium text-lg break-all">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
								Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
								massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
								nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
								auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
							</div>
						</li>

						<hr class="col-span-3 border-top-[2px] border-PWBlack">

						<li class="flex flex-col gap-2">

							<h3 class="font-notoSerif font-medium text-3xl break-all">Title</h3>
							<h4 class="font-notoSerif font-medium text-xl break-all">Company</h4>
							<div class="font-notoSerif font-medium text-lg  break-all ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
								Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
								massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
								nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
								auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
							</div>
						</li>

						<hr class="col-span-3 border-top-[2px] border-PWBlack">
						
						<li class="flex flex-col gap-2">
							<h3 class="font-notoSerif font-medium text-3xl break-all">Title</h3>
							<h4 class="font-notoSerif font-medium text-xl break-all">Company</h4>
							<div class="font-notoSerif font-medium text-lg  break-all ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
								Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
								massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
								nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
								auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
							</div>
						</li>
					</ol>
					<p class="font-notoSerif font-medium text-lg">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
						Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
						massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
						nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
						auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
						Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
						massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
						nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
						auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
					</p>
				</div>
			</div>
			<!-- Filler -->
			<!-- tailwind config for Implementation details of infinite scroll animation etc. -->
			<div class="py-2 w-full ">
				<div class="text-PWWhite font-notoSerifDisplay font-medium text-5xl overflow-hidden text-nowrap leading-normal	
					w-full m-0">
					<p class="animate-hori_scroll_L2R w-fit">
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
					</p>
				</div>
				<div class="text-PWWhite font-notoSerifDisplay font-medium text-5xl overflow-hidden text-nowrap leading-normal	
					w-full m-0">
					<p class="animate-hori_scroll_R2L w-fit">
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
					</p>
				</div>
			</div>
			
			<!-- Projects -->
			<!-- NOTE - first div is basically the background. this is for setting max-width for content -->
			<div class="bg-PWBlue-600 w-full flex justify-center">
				<div class="max-w-[1000px] flex flex-col gap-20 justify-center w-full p-16">
					<h2 class="text-PWBlack font-notoSerifDisplay text-7xl font-semibold">Projects</h2>
					<ol class="flex flex-col gap-5">
						<!-- very wacky, check the checked answer. Namely native child selectors: 
						https://stackoverflow.com/questions/67119992/how-to-access-all-the-direct-children-of-a-div-in-tailwindcss -->

						<!-- hover:text-PWWhite hover:bg-PWBlue-500 -->
						<li class="flex flex-col gap-2">

							<h3 class="font-notoSerif font-medium text-3xl break-all">Title</h3>
							<h4 class="font-notoSerif font-medium text-xl break-all">Company</h4>
							<div class="font-notoSerif font-medium text-lg  break-all ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
								Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
								massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
								nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
								auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
							</div>
						</li>

						<hr class="col-span-3 border-top-[2px] border-PWBlack">


						<li class="flex flex-col gap-2">

							<div class="font-notoSerif font-medium text-lg  break-all ">bruh</div>
							<div class="font-notoSerif font-medium text-lg  break-all ">bruh</div>
							<div class="font-notoSerif font-medium text-lg  break-all ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
								Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
								massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
								nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
								auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
							</div>
						</li>

						<hr class="col-span-3 border-top-[2px] border-PWBlack">
						

						<li class="flex flex-col gap-2">

							<h3 class="font-notoSerif font-medium text-3xl break-all">Title</h3>
							<h4 class="font-notoSerif font-medium text-xl break-all">Company</h4>
							<div class="font-notoSerif font-medium text-lg  break-all">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
								Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
								massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
								nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
								auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
							</div>
						</li>
					</ol>
					<p class="font-notoSerif font-medium text-lg">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
						Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
						massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
						nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
						auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 				
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
						Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
						massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
						nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
						auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
					</p>
				</div>
			</div>

			<!-- Filler -->
			<!-- tailwind config for Implementation details of infinite scroll animation etc. -->
			<div class="py-2 w-full ">
				<div class="text-PWWhite font-notoSerifDisplay font-medium text-5xl overflow-hidden text-nowrap leading-normal	
					w-full m-0">
					<p class="animate-hori_scroll_L2R w-fit">
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
					</p>
				</div>
				<div class="text-PWWhite font-notoSerifDisplay font-medium text-5xl overflow-hidden text-nowrap leading-normal	
					w-full m-0">
					<p class="animate-hori_scroll_R2L w-fit">
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
						Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling. Filler. Just Keep Scrolling.
					</p>
				</div>
			</div>

			<!-- Education -->
			<!-- NOTE - first div is basically the background. this is for setting max-width for content -->
			<div class="bg-PWGreen-500 w-full flex justify-center">
				<div class="max-w-[1000px] flex flex-col gap-20 justify-center w-full p-16">
					<h2 class="text-PWBlack font-notoSerifDisplay text-7xl font-semibold">Education</h2>
					<ol class="flex flex-col gap-5">
						<!-- very wacky, check the checked answer. Namely native child selectors: 
						https://stackoverflow.com/questions/67119992/how-to-access-all-the-direct-children-of-a-div-in-tailwindcss -->

						<!-- hover:text-PWWhite hover:bg-PWGreen-400 hover:drop-shadow-md transition duration-200 -->
						<li class="flex flex-col gap-2">
							<h3 class="font-notoSerif font-medium text-3xl break-all">Title</h3>
							<h4 class="font-notoSerif font-medium text-xl break-all">Company</h4>
							<div class="font-notoSerif font-medium text-lg  break-all ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
								Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
								massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
								nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
								auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
							</div>
						</li>

						<hr class="col-span-3 border-top-[2px] border-PWBlack">

						<li class="flex flex-col gap-2">
							<h3 class="font-notoSerif font-medium text-3xl break-all">Title</h3>
							<h4 class="font-notoSerif font-medium text-xl break-all">Company</h4>
							<div class="font-notoSerif font-medium text-lg  break-all ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
								Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
								massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
								nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
								auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
							</div>
						</li>

						<hr class="col-span-3 border-top-[2px] border-PWBlack">
						
						<li class="flex flex-col gap-2">
							<h3 class="font-notoSerif font-medium text-3xl break-all">Title</h3>
							<h4 class="font-notoSerif font-medium text-xl break-all">Company</h4>
							<div class="font-notoSerif font-medium text-lg  break-all">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
								Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
								massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
								nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
								auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
							</div>
						</li>
					</ol>
					<p class="font-notoSerif font-medium text-lg">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
						Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
						massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
						nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
						auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 				
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat ac nunc id rutrum. 
						Curabitur aliquam interdum orci eget eleifend. Nulla condimentum ultrices venenatis. Maecenas
						massa orci, tempor ac erat a, lobortis placerat sem. Vivamus sodales est sit amet felis rutrum, 
						nec maximus nunc sagittis. Sed eget neque magna. Ut quis feugiat justo, a gravida ligula. In 
						auctor dolor sed ex efficitur pulvinar. Praesent sit amet massa 
					</p>
				</div>
			</div>

		</main>
	</body>
	<footer></footer>
</html>
