---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

// import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" class="PWWhite">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header isLandingPage = {true} color="#" BGColor="#"/>
		<main class = "flex-grow-1">
			<!-- the src is behaving strangely + make sure to possbly optimize it https://docs.astro.build/en/guides/images/-->
			<img src="src/assets/lisa-harvey-pfp.png" alt="PFP" width="300" >
			<div id="nav">
				<button class="text-2xl text-left w-32" onclick="location.href = '/AboutMe'" style="color:#483C3E; font-family: Noto Serif;">About Me</button>
				<button class="text-2xl text-left w-32" onclick="location.href = '/AboutMe'" style="color:#483C3E; font-family: Noto Serif;">Blog</button>
				<button class="text-2xl text-left w-32" onclick="location.href = '/AboutMe'" style="color:#483C3E; font-family: Noto Serif;">Porfolio</button>
			</div>
		</main>
		<!-- will need to possibly populate footer for SEO -->
		<!-- <Footer /> -->
	</body>
</html>

<style>
	html {
		height: 100vh;
	}
	body {
		background-color: #BCCABC;
		height: 100%;
	}
	button {
		color:#483C3E; 
		font-family: Noto Serif;
	}
	img {
		width: 300px;
		/* maybe look more into this functionality: https://stackoverflow.com/questions/28700841/how-to-make-a-circular-image-in-css */
		clip-path: circle(); 
	}
	main {
		display: flex;
		flex-direction: row;
		flex: 1;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		gap: 50px;
	}
	#nav {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
</style>