---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

// import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" class="h-screen bg-PWOlive">
	<head>
		<!-- NOTE: Noto Serif technically already exists, but all the font weights aren't -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=fallback" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=fallback" rel="stylesheet">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="h-full">
		<Header isLandingPage = {true} color="PWBlack" BGColor="PWOlive"/>
		<main class = "flex flex-grow-1 w-full h-full items-center justify-center gap-10">
			<!-- make sure to possbly optimize it https://docs.astro.build/en/guides/images/-->
			<img src="src/assets/lisa-harvey-pfp.png" class="rounded-full w-44" alt="PFP"  >
			<div class="flex flex-col gap-3">
				<button class="text-xl font-notoSerif font-normal text-PWBlack text-left w-fit px-4" onclick="location.href = '/AboutMe'" >About Me</button>
				<button class="text-xl font-notoSerif font-normal text-PWBlack text-left w-fit px-4" onclick="location.href = '/Writings'">Writings</button>
				<button class="text-xl font-notoSerif font-normal text-PWBlack text-left w-fit px-4" onclick="location.href = '/Portfolio'">Portfolio</button>
			</div>
		</main>
		<!-- will need to possibly populate footer for SEO -->
		<!-- <Footer /> -->
	</body>
</html>
