---
import Header from "../components/Header.astro";
import BaseHead from"../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import WritingsSection from "../components/WritingsSection.tsx";

---

<html class="bg-PWWhite">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Note that I am using display block -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=fallback" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=fallback" rel="stylesheet">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header isLandingPage={false} BGColor="PWWhite" color='PWBlack'></Header>
        <main class="flex flex-col items-center">
            <h1 class="font-notoSerifDisplay text-7xl font-black text-PWBlack">
                Karan Swansi's <span class="text-PWBlue-500">Writings</span>
            </h1>
            <!-- Featured -->
            <div>
                <h2 class="font-notoSerifDisplay text-5xl font-black mt-10 text-PWBlack mx-5">Stuff I'm Most Proud of:</h2>
            </div>
            <h3 class="font-notoSerif text-xl font-medium mt-5">Looking For Something?</h3>
            <!-- search bar -->
            <div class="mt-3">
                <input class="shadow appearance-non border rounded"> 
                    
                </input>
            </div>
            <h2 class="font-notoSerifDisplay text-5xl font-black mt-10 text-PWBlack mx-5 mb-10">All of it</h2>

            <!-- writings section -->
            <WritingsSection></WritingsSection>
        </main>
    </body>
</html>