---
interface Props {
    tagData: {
        id: number;
        tagName: string;
    }
}
const { 
    tagData: {
        id = 0,
        tagName = "bruh"
    }
} = Astro.props as Props;
---

<div class="border-radius-5 h-[1.65rem] py-1 px-2 bg-PWBlack text-PWWhite text-xs rounded-xl w-fit max-w-32 grow-0 shrink-0">
    <p class="truncate min">
        {tagName}
    </p>
</div>
