<!-- ---
import
title: 'First post'
description: 'Lorem ipsum dolor sit amet'
date: 'Jul 08 2022'
tags: "bruh"
imagesrc: "bruh"
heroImage: '/blog-placeholder-3.jpg'

const {title, description, date, tags, image} = Astro.props;
---

<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=fallback" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=fallback" rel="stylesheet">
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <header>

        </header>
        <main>

        </main>
    </body>
</html> -->